<div *ngIf="!isLoading" class="container-fluid">
    <div class="row pt-4">
        <div class="col-sm-12 col-md-7 col-lg-8 col-xl-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ps-3 pb-4 mb-0">
                    <li class="breadcrumb-item active h5 mb-0">Dashboard
                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-2">
            <!-- <app-date-filter (filterData)='onFilter($event)'></app-date-filter> -->
        </div>
    </div>

</div>

<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-12">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card handy-card border-0 text-muted my-2">
                        <div class="card-body py-3">
                            <div class="d-flex justify-content-between">
                                <div class="display-4 m-0">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="text-end">
                                    <div class="h6 mb-3">Registerd voters</div>
                                    <div class="h5 text-handy mb-0">{{ totalCustomers | number }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card handy-card border-0 text-muted my-2">
                        <div class="card-body py-3">
                            <div class="d-flex justify-content-between">
                                <div class="display-4 m-0">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="text-end">
                                    <div class="h6 mb-3">Accredited voters</div>
                                    <div class="h5 text-handy mb-0">{{ totalEngineers | number }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card handy-card border-0 text-muted my-2">
                        <div class="card-body py-3">
                            <div class="d-flex justify-content-between">
                                <div class="display-4 m-0">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="text-end">
                                    <div class="h6 mb-3">No of candidates</div>
                                    <div class="h5 text-handy mb-0">{{ totalIncome }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card handy-card border-0 text-muted my-2">
                        <div class="card-body py-3">
                            <div class="d-flex justify-content-between">
                                <div class="display-4 text-handy m-0">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="text-end">
                                    <div class="h6 mb-3">Votes cast</div>
                                    <div class="h5 text-handy mb-0">{{ totalJobsInProgress | number }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="container-fluid pb-3">
    <div class="card handy-card border-0 text-muted my-2">
        <div class="card-header bg-transparent">
            <h6 class="mb-0 text-handy">Voting Chart</h6>
        </div>
        <div class="card-body py-3">
            Here will contain a chart
        </div>
    </div>
</div>