$handy-bg: #4a6ee0;

.toolbar {
    background-color: #fff;
    z-index: 1;
    border-top: 2px solid rgb(213, 225, 241) !important;

    a {
        align-content: center;
        display: block;
        // padding: 7px 20px;
        width: 100%;
        color: #6c757d;

        .icon {
            font-size: 16px;
        }

        .navi-text {
            font-weight: 500;
            font-size: 10px;
            margin-top: 4px;
            margin-bottom: 0;
        }

    }

    .current {
        color: #fff !important;
        background-color: $handy-bg !important;

        // cursor: default;
        .icon {
            color: #fff !important;
        }
    }
}