<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 py-4 mb-0">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Settings</li>
        </ol>
    </nav>
</div>


<div class="container">
    <div class="card handy-card">
        <div class="card-body px-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-muted mb-1">Enable Voter registration</h6>
                    <div class="form-check form-switch">
                        <input (change)="onUpdateSetting($event)" class="form-check-input" type="checkbox"
                            [checked]="setting?.enableVoterRegistration" role="switch" id="enableVoterRegistration">
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-muted mb-1">Enable Candidates registration</h6>
                    <div class="form-check form-switch">
                        <input (change)="onUpdateSetting($event)" class="form-check-input" type="checkbox"
                            [checked]="setting?.enableCandidateRegistration" role="switch"
                            id="enableCandidateRegistration">
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="text-muted mb-1">Enable Voting</h6>
                    <div class="form-check form-switch">
                        <input (change)="onUpdateSetting($event)" class="form-check-input" type="checkbox"
                            [checked]="setting?.enableVoting" role="switch" id="enableVoting">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>