<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 py-4 mb-0">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Candidates
                <span class="ms-2 badge bg-handy">{{ totalCandidates | number}}</span>
            </li>
        </ol>
    </nav>
</div>


<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8">
            <select (change)="onFilter($event)" class="form-select mb-2" aria-label=".form-select-sm example">
                <option selected value="">Filter candidates by position</option>
                <option *ngFor="let positionn of positions" [value]="positionn.value">{{ positionn.name }}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-handy border-radius px-4 w-100 mb-2">Add candidate</button>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div *ngFor="let candidate of candidates" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card handy-card mb-2">
                <div class="card-body px-3">
                    <div class="d-flex justify-content-between">
                        <h5 (click)="onSelectCandidate(candidate.voterId._id)" class="text-handy pointer text-truncate">
                            {{ candidate.position | positionFormat }} </h5>
                        <div class="text-end">
                            <!-- <div class="btn-group dropstart">
                                <h6 data-bs-toggle="dropdown" data-display="static" aria-haspopup="true"
                                    aria-expanded="false" class="text-muted pointer"> <i
                                        class="bi bi-three-dots-vertical"></i>
                                </h6>
                                <ul class="dropdown-menu handy-card" aria-labelledby="dropdownMenuButton1">
                                    <li> <button class="dropdown-item py-2"
                                            type="button">Verify voter</button></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mb-1">
                        <h6 class="mb-0 text-muted text-truncate"> {{
                            candidate.voterId.firstName |
                            titlecase }} {{ candidate.voterId.surName | titlecase }} </h6>
                        <small class="mb-1 text-muted text-truncate">{{ candidate.voterId.kindred| titlecase }} </small>
                    </div>

                    <div class="d-flex justify-content-between">
                        <small class="mb-0 text-muted">{{ candidate.voterId.schoolName | titlecase }} | {{
                            candidate.voterId.schoolLevel | titlecase }}</small>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <ng-template [ngIf]="candidates.length <= 0">
        <p class="text-center">No candidate(s) to show...</p>
    </ng-template>

</div>



<div class="container mt-3 footer-clearfix">
    <app-paginator [length]="totalCandidates" [currentDataLength]="voters.length" [dataPerPage]="candidatesPerPage"
        [currentPage]="currentPage" (pageChange)='onChangePage($event)'>
    </app-paginator>
</div>











<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-radius">
            <div class="modal-header">
                <h5 class="modal-title text-handy">Add Candidate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form (submit)="onSubmitCandidate(candidateForm)" #candidateForm="ngForm">
                <div class="modal-body py-4">

                    <select
                        [ngClass]="{'is-invalid animate__animated animate__headShake': voter.touched && voter.invalid}"
                        class="form-select form-select-lg" name="inputVoter" ngModel #voter="ngModel" required>
                        <option selected value="">Select Candidate</option>
                        <option *ngFor="let voter of voters" [value]="voter._id">{{ voter.firstName | titlecase }}
                            {{ voter.surName | titlecase }} => of {{ voter.kindred }} kindred</option>
                    </select>
                    <div class="mb-1 text-center" *ngIf="voter.touched && voter.invalid">
                        <small *ngIf="voter.errors?.required" class="text-danger">This field is required.</small>
                    </div>


                    <select
                        [ngClass]="{'is-invalid animate__animated animate__headShake': position.touched && position.invalid}"
                        class="form-select form-select-lg mt-3" name="inputPosition" ngModel #position="ngModel"
                        required>
                        <option selected value="">Select aspiring office</option>
                        <option *ngFor="let positionn of positions" [value]="positionn.value">{{ positionn.name }}
                        </option>
                    </select>
                    <div class="mb-1 text-center" *ngIf="position.touched && position.invalid">
                        <small *ngIf="position.errors?.required" class="text-danger">This field is required.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="candidateForm.invalid" type="submit"
                        class="btn btn-handy w-100 text-uppercase border-radius" data-bs-dismiss="modal"
                        aria-label="Close">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>