<div class="container pt-5">
    <div class="display-4 text-center fw-bold mb-4">Welcome to FUUGA page</div>

    <p>FUUGA means federated ugwueme undergraduate Association. <br> Fuuga was formed in the year 1999 but was
        inaugurated in
        the year 2000.

        It was formed with the believe that increase in the number of graduates in ugwueme will bring about a
        corresponding increase in human and material development in Ugwueme. It was also believed that Education is the
        surest way to bring about development, unity and wiping away of the growing discrimination among the two
        autonomous community in Ugwueme.
    </p>
    <div class="my-2 text-center">
        <button routerLink="./election/voter/register" class="btn btn-handy border-radius px-4 m-2">Register as a
            voter</button>
        <!-- <button routerLink="./login" class="btn btn-handy border-radius px-4 m-2">Vote</button> -->
        <!-- <button routerLink="./login" class="btn btn-handy border-radius px-4 m-2">Register as admin</button> -->
        <button routerLink="./election" class="btn btn-handy border-radius px-4 m-2">Login as a committee
            member</button>
    </div>

</div>