<div class="container pt-5 text-center">
    <div class="display-4 fw-bold mb-4">Welcome to FUUGA page</div>

    <div class="my-2">
        <button routerLink="./election/voter/register" class="btn btn-handy border-radius px-4 m-2">Register as a voter</button>
        <!-- <button routerLink="./login" class="btn btn-handy border-radius px-4 m-2">Vote</button> -->
        <!-- <button routerLink="./login" class="btn btn-handy border-radius px-4 m-2">Register as admin</button> -->
        <button routerLink="./election" class="btn btn-handy border-radius px-4 m-2">Login as a committee member</button>
    </div>

</div>