h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
    /* text-decoration: none; */
    font-weight: 300px;
    font-size: 50px;
}



.title {
    font-size: 48px;
    font-weight: normal;
    line-height: 2;
    border-bottom: #9d3f3f solid 2px;
    margin-bottom: 50px;
    // transition-duration: 3s;
    padding-top: 30px;
}


h2,
h3,
h4,
h5,
h6 {
    color: #9d3f3f;
}


p {
    text-align: justify;

}

/* Media queries here */

@media(max-width: 768px) {

    .title {
        // margin-top: 20px;
        padding-bottom: 10px;
        // padding-top: 20px;
        text-align: center;
        width: 100%;
        font-size: 30px;
        line-height: 1.2;
    }

}

@media (min-width: 992px) {
    .title {
        font-size: 38px;
        // line-height: 1.4;
    }
}