<!-- navigation bar starts -->
<!-- <section id="nav">
    <div class="container">
        <ul class="nav-link">
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>
    </div>
</section> -->
<!-- navigation bar ends -->

<!-- <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed top</a>
    </div>
</nav> -->


<div class="container">
    <h1 class="title">Official website of Ugwueme Community.</h1>
</div>


<div class="container">
    <div class="card border-0 mb-3">
        <div class="row">
            <div class="col-lg-5 px-4">
                <img src="../../../assets/images/awgu.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-lg-7">
                <div class="card-body pb-0 px-0">
                    <h5 class="card-title">History</h5>
                    <p class="card-text mb-0">Ugwueme is the Aftermath of a quarrel between Emenike and two of his
                        brother
                        Akujuluo and Isu over inheritance about 1512 AD. The trio are sons to Ochi. The quarrel occured
                        because Eme was shortchanged in the sharing of their inheritance by his two brothers. While he
                        was on a hunting expedition at Ugwu lkpa ( now Ugwueme) his brother shared their heirloom. When
                        he returned and discovered the divisive attitude. He felt unrecognized and betrayed as the first
                        son. He left with the father's god( ogbuchi) to dwell in his hunting tent at ugwu lkpa(
                        precisely at Ala Ukwu) and never to return to his brothers. In a bid to recover their fathers
                        god, quarrel ensued between him and his brothers. The hilly nature of his abode helped to defeat
                        his brothers because he was accustomed to the terrain as a hunter. After the defeat, he named
                        the area Ugwueme meaning ( hill has helped). His brothers realized their mistakes and began to
                        court Eme to come back. Rather than listening to them, he moved hinterland to dwell among
                        dangerous animal in the wild jungle to make it difficult for his brothers to locate him. The
                        place he settled was at Nkwo-utu( now Okpukpokpume).</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pb-5">
    <p>His arrival at Okpukpokpume raised hostilities from the people of Lenwe,umuorjioke, Akaha and Agwa. This
        hostilities led to war because they vowed to force Eme out of the land. For safety reasons, Eme retreated
        and settled at Okpu ulo, a hilly abode south west of Nwanyi orji.
        Eme later got married and had a son and named him Nga( Agu). Nga in turn had three sons; lreagu , Agu and
        Obu. Ireagu is the progenitor of the umuireagu descendants. His second son Agu retained his name and his
        final abode Amagu. The third son he named obuagu( now in extinct). The first son later begot three sons
        namely, Mba( umumba), okpararu( umuokparu) and Egbu ( Umuegbu). Each of them was alloted symbols of
        authority in the administration of the community.

        Uba Dikie was the first king of the nation after the oho ala was handed over to him as the symbol of his
        authority. When he died, his son Orji Uba became the second king. He was a wealthy man. For want of space,
        he migrated eastwards of Okpu ulo. He built his palace near a spring water called Nwayi Orji. When he died,
        his son Okpezi Omakigwe became the 3rd king. Due to the envy and hostilities attracted by the wealth and
        popularity of Orji at Nwaiyi orji, King Okpezi migrated northwards across the iyi- ukwu River and
        established his palace.

        It was during the reign of Okpezi that other clans migrated to live with the umuireagu. The clans were
        attracted by the Orji ubas popularity and Okpezi's fame for truthfulness and battle field abilities. The
        first clan to arrive was obuohia then followed by Umu Agwu. This two migrant clans was adopted by the king
        as his children to avoid discrimination by the Aborigines. Thus the name Umu Okpezi as the three clans are
        known today. The next clan to arrive was umuokpara. They were quartered as a separate clan as administrative
        tactic to enlarge the kingdom. The next clan to arrive was obulo and were give a distinct area called Azu
        owere for their settlement.


        It was during the reign of Okpezi that other clans migrated to live with the umuireagu. The clans were
        attracted by the Orji ubas popularity and Okpezi's fame for truthfulness and battle field abilities. The
        first clan to arrive was obuohia then followed by Umu Agwu. This two migrant clans was adopted by the king
        as his children to avoid discrimination by the Aborigines. Thus the name Umu Okpezi as the three clans are
        known today. The next clan to arrive was umuokpara. They were quartered as a separate clan as administrative
        tactic to enlarge the kingdom. The next clan to arrive was obulo and were give a distinct area called Azu
        owere for their settlement.

        Agulese ugwueme was an aftermath of of frequent war between Ugwueme and lenwe( Nnewenta), ogwugwu ntuegbe
        and ahaka and other clans at the northern part of Ugwueme. As the battle lingered on. Nga Nwadiala also know
        as Agu, the leader of the kingdom then positioned his second son Agu who was named after him to the main
        axis through which the enemies struck to control their invasion. Nga(Agu) has a sentry Hill known as Ugwunga
        where he would stand and watch out for his enemies and their movement. When he sights an enemy, he signals
        his son Agu who would spiritually transmogrified into five tigers with horns to fight the enemies. He was
        hailed and called Agulese by the people for his war conquest. When the war ended and peace was restored with
        the warring clans with Ugwueme. Nga compensated his Son Agu with the land of the North and was named after
        his nickname Agulese. The descendant of Agu are today known as Amagu. The first kindred Agu received was
        Agala and his family that migrated from Umuhu Awgu. The second kindred that arrived was ochiala. For want of
        geographical identification, they were quartered East- west of Ama Agu and we're name Ihite which means
        people living left most of Ugwunga. The last clan to arrive was Ugwuanya. They were quartered at the land
        below the Ugwunga.

        Ugwueme was made of seven village which account for the name" Ugwueme Lassa" however one of the village
        called obuagu is now in extinct as the descendent are all dead. Currently Ugwueme is made of six villages
        which are Okpezi, Amagu, Obulo, Umuokpara, lhite and Ugwuanya and 23 sub villages.</p>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
</nav>