<!-- navigation bar starts -->
<!-- <section id="nav">
    <div class="container">
        <ul class="nav-link">
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>
    </div>
</section> -->
<!-- navigation bar ends -->

<!-- <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed top</a>
    </div>
</nav> -->


<div class="container">
    <h1 class="title">Official website of Ugwueme Community.</h1>
</div>

<div class="container">
    <div class="card border-0 mb-3">
        <div class="row">
            <div class="col-lg-5 px-4">
                <img src="../../../assets/images/awgu.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-lg-7">
                <div class="card-body pb-0 px-0">
                    <h5 class="card-title">History</h5>
                    <p class="card-text mb-0">Ugwueme is the Aftermath of a quarrel between Emenike and two of his
                        brother, Akujuluo and Isu over inheritance about 1512 AD. The trio are sons to Ochi. The quarrel
                        occured because Eme was shortchanged in the sharing of their inheritance by his two brothers.
                        While he was on a hunting expedition at Ugwu lkpa ( now Ugwueme) his brother shared their
                        heirloom. When he returned and discovered the divisive attitude. He felt unrecognized and
                        betrayed as the first son. He left with the father's god( ogbuchi) to dwell in his hunting tent
                        at ugwu lkpa (precisely at Ala Ukwu) and never to return to his brothers. In a bid to recover
                        their fathers god, quarrel ensued between him and his brothers. The hilly nature of his abode
                        helped to defeat his brothers because he was accustomed to the terrain as a hunter. After the
                        defeat, he named the area Ugwueme meaning ( hill has helped). His brothers realized their
                        mistakes and began to court Eme to come back. Rather than listening to them, he moved hinterland
                        to dwell among dangerous animal in the wild jungle to make it difficult for his brothers to
                        locate him. The place he settled was at Nkwo-utu( now Okpukpokpume).</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pb-5">
    <p>His arrival at Okpukpokpume raised hostilities from the people of Lenwe, umuorjioke, Akaha and Agwa. This
        hostilities led to war because they vowed to force Eme out of the land. For safety reasons, Eme retreated
        and settled at Okpu ulo, a hilly abode south west of Nwanyi orji. Eme later got married and had a son and named
        him Nga(Agu). Nga in turn had three sons; lreagu, Agu and Obu. Ireagu is the progenitor of the Umuireagu
        descendants. His second son Agu retained his name and his final abode Amagu. The third son he named obuagu(now
        in extinct). The first son later begot three sons namely, Mba(umumba), okpararu(umuokparu) and Egbu(Umuegbu).
        Each of them were alloted symbols of authority in the administration of the community.
        <br>
        Uba Dikie was the first king of the nation after the oho ala was handed over to him as the symbol of his
        authority. When he died, his son Orji Uba became the second king. He was a wealthy man. For want of space,
        he migrated eastwards of Okpu ulo. He built his palace near a spring water called Nwayi Orji. When he died,
        his son Okpezi Omakigwe became the 3rd king. Due to the envy and hostilities attracted by the wealth and
        popularity of Orji at Nwaiyi orji, King Okpezi migrated northwards across the iyi-ukwu River and
        established his palace.

        It was during the reign of Okpezi that other clans migrated to live with the Umuireagu. The clans were
        attracted by the Orji ubas popularity and Okpezi's fame for truthfulness and battle field abilities. The
        first clan to arrive was obuohia then followed by Umu Agwu. This two migrant clans was adopted by the king
        as his children to avoid discrimination by the Aborigines. Thus the name Umu Okpezi as the three clans are
        known today. The next clan to arrive was umuokpara. They were quartered as a separate clan as administrative
        tactic to enlarge the kingdom. The next clan to arrive was obulo and were give a distinct area called Azu
        owere for their settlement.
        <br>
        Agulese ugwueme was an aftermath of frequent war between Ugwueme and Lenwe(Nnewenta), Ogwugwu Ntuegbe
        and Ahaka and other clans at the northern part of Ugwueme. As the battle lingered on. Nga Nwadiala also know
        as Agu, the leader of the kingdom then positioned his second son Agu who was named after him to the main
        axis through which the enemies struck to control their invasion. Nga(Agu) has a sentry Hill known as Ugwunga
        where he would stand and watch out for his enemies and their movement. When he sights an enemy, he signals
        his son Agu who would spiritually transmogrified into five tigers with horns to fight the enemies. He was
        hailed and called Agulese by the people for his war conquest. When the war ended and peace was restored with
        the warring clans with Ugwueme. Nga compensated his Son Agu with the land of the North and was named after
        his nickname Agulese. The descendant of Agu are today known as Amagu. The first kindred Agu received was
        Agala and his family that migrated from Umuhu Awgu. The second kindred that arrived was Ochiala. For want of
        geographical identification, they were quartered East-west of Ama Agu and we're name Ihite which means
        people living left most of Ugwunga. The last clan to arrive was Ugwuanya. They were quartered at the land
        below the Ugwunga.
        <br>
        Ugwueme was made of seven village which account for the name "Ugwueme Lassa" however one of the village
        called obuagu is now in extinct as the descendent are all dead. Currently Ugwueme is made of six villages
        which are <span class="fw-bold"> Okpezi, Amagu, Obulo, Umuokpara, lhite and Ugwuanya and 23 sub villages</span>.
    </p>


    <h5 class="card-title mt-5">Geography</h5>
    <p>
        Ugwueme is an Agrarian community in Anike Development center of Awgu local government area of Enugu State. It is
        located at the Southern part of Awgu with Geographical coordinate by latitude 6°0°00 N and 6° 03° 00N and
        longitude 7°24° 00E and 7° 28° 00E on the Enugu-Agwu Cuesta known as Udi-Ugwueme Hill.
        <br>
        According to National population commission(2006), Ugwueme town has an estimated population of 13,000 people.
        The town is a border community in Enugu state that shares boundary with Lokpanta, Isuochi(Achara, Amuda, Mbala)
        in Abia State and Agwu town, Nnewenta and Mgbidi in Awgu local government. The community is accessible through a
        network of roads which are three major motorable road from Awgu, Isuochi in abia state and Nnewenta and several
        footpaths. It is comprised of mixed farming zones where food crops (yam, cassava, cocoyam and maize) and cash
        crops (cashew, oil palm and plantain) are produced and livestock for complimentary purpose to meet farmers cash
        need during food storage. The soil is mainly ferralitic soils commonly known as Red Earth. It is poorly drained
        and it is particularly suitable for the cultivation of cash crops. The town experiences heavy rainfall during
        raining season and has a rainfall record of 1,800mm. The water bodies are dendritic in nature due to the
        sedimentary formation of the region. The water body is made of theurapeutic spring waters and fresh water
        streams.
        <br>
        The community often called a city built on a hill has several sceneric hills that has tourist attraction.
        Prominent among them are Ugwu Ihite(orie), ugbokovum, ugwungongonzu, ugwu echetekwere, ugbu mgbe etc.
        <br>
        The valley and low lands are used as farm land. The residence area are organised in clusters of two to three
        villages living together in a cluster with a distinct name. This was due to topographical challenges and
        historic event such as war and land slide.
        <br>
        The community natural resources are timbers. Pebble stones,coal tars, black stone and white stone.
    </p>

</div>

<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
</nav> -->