<!-- navigation bar starts -->
<!-- <section id="nav">
    <div class="container">
        <ul class="nav-link">
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>
    </div>
</section> -->
<!-- navigation bar ends -->

<section id="about">

    <div class="container-about">
        <h1 class="title">Official website of Ugwueme Community.</h1>
        <div class="box">
            <img src="awgu.jpg" alt="ugwueme_img">

        </div>

        <div class="box">
            <p>
                Hi, I am a full-stack web developer, and a part-time freelance writer. Is nice meeting you.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, labore! Ullam, architecto, numquam
                sit, magnam eaque quam qui iure quaerat dolorem suscipit explicabo eveniet ex autem commodi! Distinctio,
                at dicta harum provident sapiente minima error debitis quis nobis illum nisi optio ipsam beatae ea
                doloribus facere eveniet deserunt atque sint dolor blanditiis aspernatur. Aspernatur dicta voluptate
                suscipit, quae totam, sint in, repudiandae quos consequatur blanditiis neque molestias eius pariatur
                adipisci maiores eum sunt laudantium quia. Qui, quis quae inventore eos quaerat libero sed a fuga culpa
                vitae, ipsa, fugit obcaecati. Placeat harum rem nisi eos eius nostrum atque natus nesciunt numquam
                veniam laboriosam, possimus explicabo porro eum? Eveniet excepturi obcaecati iste autem in, eos
                voluptates modi accusamus sit expedita dolorum at omnis impedit beatae. Minima porro nisi eveniet magnam
                libero inventore placeat illum, dolorum sapiente doloribus tempore expedita ratione et quibusdam ducimus
                nam possimus explicabo sequi itaque neque est eaque. Fuga dolor consequuntur saepe dolore cupiditate
                voluptatibus, tempora tenetur pariatur odit? Veniam id odio labore voluptate ex iusto rem iste minus
                recusandae, cum quo aliquid similique, saepe dolor nihil non necessitatibus neque repudiandae accusamus
                quae itaque soluta fugiat. Voluptatum, sequi aut, eligendi quis nostrum impedit blanditiis aspernatur
                quidem molestias excepturi beatae at quod rem inventore vero, dolor labore quia expedita dolorum eaque
                dolorem. Voluptatibus, illum cum. Iure numquam nulla voluptate sit et, illum, eaque non deserunt in
                cupiditate sapiente? Voluptatem debitis doloremque eveniet nostrum. Aut provident temporibus labore
                beatae voluptatibus quidem, harum deleniti odio animi libero quia totam aliquid vel sint delectus illum,
                sequi, obcaecati quasi vero inventore et adipisci sunt? Necessitatibus cupiditate inventore
                exercitationem temporibus dignissimos illo expedita provident ipsa vitae minima maiores, architecto
                soluta velit facilis culpa officiis nihil labore deserunt corporis quo similique earum. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Delectus ab nemo porro alias ipsum. Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Libero dolor ducimus accusamus error dolorum a assumenda vitae ullam
                saepe adipisci. Sint nam voluptates incidunt, itaque enim laborum dicta architecto dolores, saepe
                aliquam, ipsum eius quasi obcaecati qui tempora illum corrupti necessitatibus. Totam voluptas mollitia
                odio quam facilis ipsum, tempore quas, perspiciatis ipsam quos recusandae ea quisquam, accusamus nostrum
                libero cum quidem inventore placeat! Vitae repellat, illo accusamus, commodi, maxime sequi cum
                dignissimos quae nobis ducimus delectus. Et iusto dignissimos autem voluptatem animi, perspiciatis
                dolore nisi reiciendis omnis ipsum eveniet, sunt voluptate nihil rerum, veritatis nobis quidem similique
                commodi alias ullam.saepe.
            </p>
        </div>
    </div>

</section>
